<%- include layouts/header.ejs %>

<div class="hero-section">
  <div class="card-grid">
    <% for(var guitar=0;guitar<Guitar.length; guitar++) {
      %>
    <a class="card" href="#">
      
      <div class="card__background"><img class="img" src="<%= Guitar[guitar].image%>"></div>
      <div class="card__content">
        <p class="card__category"><%= Guitar[guitar].description %></p>
        <h3 class="card__heading">Price: $<%= Guitar[guitar].precie %></h3>
      </div>
    </a>
    <% } %>
  </div>
</div>

 <!-- <div class="container">
  <h1>Products</h1>
    <div class="row wrap">
      <% for(var guitar=0;guitar<Guitar.length; guitar++) { %>
        <div class="col-sm-3">
          <div class="card main">
            <div class="card-body">
              <h5 class="card-title"> <%= Guitar[guitar].title %> </h5>
              <img height="300" src="<%= Guitar[guitar].image%>" class="cardGuitar card-img-top" alt="...">
              <p class="card-text"><%= Guitar[guitar].description %> </p>
              <p class="card-text"> Price: $ <%= Guitar[guitar].precie %></p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
      <% } %>
      </div>
    </div>
  </div>-->
  

   